<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.uc.basic.mapper.ApplyUserMapper">

    <select id="countByPhoneNumber" parameterType="com.lhiot.uc.basic.entity.ApplyUser" resultType="Integer">
		SELECT count(id) FROM apply_user WHERE phone = #{phone} AND application_type = #{applicationType}
	</select>

    <select id="countByOpenId" parameterType="String" resultType="Integer">
		SELECT COUNT(id) FROM apply_user WHERE open_id = #{0}
	</select>

    <select id="countById" parameterType="Long" resultType="Integer">
        SELECT count(id) FROM apply_user WHERE id = #{0}
    </select>

    <select id="countByIdAndPassword" parameterType="com.lhiot.uc.basic.entity.ApplyUser" resultType="Integer">
		SELECT COUNT(id) FROM apply_user WHERE id = #{id} AND password = #{password}
	</select>

    <select id="findIdByPhoneNumber" parameterType="com.lhiot.uc.basic.entity.ApplyUser" resultType="Long">
		SELECT id FROM apply_user WHERE phone = #{phone} AND application_type = #{applicationType}
	</select>

    <insert id="insert" parameterType="com.lhiot.uc.basic.entity.ApplyUser">
		INSERT INTO apply_user(id,phone,open_id,union_id,base_user_id,password,payment_password,nickname,avatar,email,qq,address,description,application_type
		,sex,birthday,register_at,payment_permissions)
		VALUE (#{id},#{phone},#{openId},#{unionId},#{baseUserId},#{password},#{paymentPassword},#{nickname},#{avatar},#{email},#{qq}
		,#{address},#{description},#{applicationType},#{sex},#{birthday},NOW(),#{paymentPermissions})
	</insert>

    <select id="findById" parameterType="Long" resultType="com.lhiot.uc.basic.model.UserDetailResult">
		SELECT a.id,a.phone,open_id,union_id,base_user_id,nickname,avatar,email,qq,address,description,application_type,sex
		,birthday,payment_permissions,register_at,balance,member_points,
		CASE b.locked
		WHEN 'LOCK' THEN b.locked
		ELSE a.locked
		END locked
		FROM apply_user a
		LEFT JOIN base_user b ON a.base_user_id = b.id
		WHERE a.id = #{0}
	</select>

    <select id="findPaymentPasswordById" parameterType="Long" resultType="com.lhiot.uc.basic.entity.ApplyUser">
        SELECT payment_permissions,payment_password FROM apply_user
        WHERE id = #{0}
    </select>

    <select id="findByOpenId" parameterType="String" resultType="com.lhiot.uc.basic.model.UserDetailResult">
		SELECT a.id,a.phone,open_id,union_id,base_user_id,nickname,avatar,email,qq,address,description,application_type,sex
		,birthday,payment_permissions,register_at,balance,member_points,
		CASE b.locked
		WHEN 'LOCK' THEN b.locked
		ELSE a.locked
		END locked
		FROM apply_user a
		LEFT JOIN base_user b ON a.base_user_id = b.id
		WHERE a.open_id = #{0} ORDER BY phone DESC LIMIT 1
	</select>

    <select id="findByPhone" parameterType="com.lhiot.uc.basic.entity.ApplyUser"
            resultType="com.lhiot.uc.basic.model.UserDetailResult">
		SELECT a.id,a.phone,open_id,union_id,base_user_id,nickname,avatar,email,qq,address,description,application_type,sex
		,birthday,payment_permissions,register_at,balance,member_points,
		CASE b.locked
		WHEN 'LOCK' THEN b.locked
		ELSE a.locked
		END locked
		FROM apply_user a
		LEFT JOIN base_user b ON a.base_user_id = b.id
		WHERE a.phone = #{phone} AND a.application_type = #{applicationType}
	</select>

    <select id="findByPhoneAndPassword" parameterType="com.lhiot.uc.basic.model.PhoneAndPasswordSearchParam"
            resultType="com.lhiot.uc.basic.model.UserDetailResult">
		SELECT a.id,a.phone,open_id,union_id,base_user_id,nickname,avatar,email,qq,address,description,application_type,sex
		,birthday,payment_permissions,register_at,balance,member_points,
		CASE b.locked
		WHEN 'LOCK' THEN b.locked
		ELSE a.locked
		END locked
		FROM apply_user a
		LEFT JOIN base_user b ON a.base_user_id = b.id
		WHERE a.phone = #{phone} AND a.application_type = #{applicationType} and a.password = #{password}
	</select>

    <select id="findByIdList" parameterType="list" resultType="com.lhiot.uc.basic.model.UserDetailResult">
        SELECT
        a.id,a.phone,open_id,union_id,base_user_id,nickname,avatar,email,qq,address,description,application_type,sex
        ,birthday,payment_permissions,register_at,balance,member_points AS point,
        CASE b.locked
        WHEN 'LOCK' THEN b.locked
        ELSE a.locked
        END locked
        FROM apply_user a
        LEFT JOIN base_user b ON a.base_user_id = b.id
        WHERE a.id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="findByPhoneList" parameterType="list" resultType="com.lhiot.uc.basic.model.UserDetailResult">
        SELECT
        a.id,a.phone,open_id,union_id,base_user_id,nickname,avatar,email,qq,address,description,application_type,sex
        ,birthday,payment_permissions,register_at,balance,member_points,
        CASE b.locked
        WHEN 'LOCK' THEN b.locked
        ELSE a.locked
        END locked
        FROM apply_user a
        LEFT JOIN base_user b ON a.base_user_id = b.id
        WHERE a.phone IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="findQuery" parameterType="com.lhiot.uc.basic.model.QuerySearch" resultType="com.lhiot.uc.basic.model.UserDetailResult">
        select a.id,a.phone,open_id,union_id,nickname,avatar,email,qq,address,description,application_type,sex
        ,birthday,payment_permissions,register_at,balance,member_points,
        CASE b.locked
        WHEN 'LOCK' THEN b.locked
        ELSE a.locked
        END locked
        FROM apply_user a
        LEFT JOIN base_user b ON a.base_user_id = b.id
        <trim prefix="where" prefixOverrides="and | or">
            <if test="userId != null">a.id like concat('%',#{userId},'%')</if>
            <if test="nickname != null and nickname != ''"> and a.nickname like concat('%',#{nickname},'%')</if>
            <if test="phone != null and phone!=''">and a.phone like concat('%',#{phone},'%')</if>
            <if test="createAtStart != null"> and a.register_at >= #{createAtStart}</if>
            <if test="createAtEnd != null">and a.register_at &lt; #{createAtEnd}</if>
            <if test="applicationType != null and applicationType !=''">and application_type = #{applicationType}</if>
        </trim>
        <if test="startRow !=null">limit #{startRow},#{rows}</if>
    </select>

    <select id="countByQuery" parameterType="com.lhiot.uc.basic.model.QuerySearch" resultType="int">
        select count(id) from apply_user
        <trim prefix="where" prefixOverrides="and | or">
            <if test="userId != null">id like concat('%',#{userId},'%')</if>
            <if test="nickname != null and nickname != ''"> and nickname like concat('%',#{nickname},'%')</if>
            <if test="phone != null and phone!=''">and phone like concat('%',#{phone},'%')</if>
            <if test="createAtStart != null"> and register_at >= #{createAtStart}</if>
            <if test="createAtEnd != null">and register_at &lt; #{createAtEnd}</if>
        </trim>
    </select>

    
    <select id="findPermissionsByIdAndPaymentPassword" parameterType="map" resultType="String">
        select payment_permissions from apply_user where id = #{id}
        <if test="paymentPassword != null and paymentPassword != ''">and payment_password = #{paymentPassword}</if>
    </select>

    <select id="findByKeyword" parameterType="String" resultType="com.lhiot.uc.basic.model.UserDetailResult">
		SELECT id ,birthday,sex,phone,nickname,email,qq,avatar,address,description,register_at
		FROM apply_user
		WHERE
		phone  LIKE #{0} OR nickname LIKE #{0};
	</select>

    <select id="findOpenIdByPhone" parameterType="com.lhiot.uc.basic.entity.ApplyUser" resultType="String">
		SELECT open_id AS openId FROM apply_user WHERE phone = #{phone} AND application_type = #{applicationType}
	</select>

    <select id="findPhoneByOpenId" parameterType="String" resultType="String">
		SELECT phone FROM apply_user WHERE open_id = #{openId}
	</select>

    <update id="updateUserById" parameterType="com.lhiot.uc.basic.entity.ApplyUser">
        UPDATE apply_user
        <trim prefix="set" suffixOverrides=",">
            <if test="birthday != null and birthday != ''">birthday = #{birthday},</if>
            <if test="sex != null and sex != 'man'">sex = #{sex},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="qq != null and qq != ''">qq = #{qq},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="unionId != null and unionId != ''">union_id = #{unionId}</if>
        </trim>
        WHERE id = #{id}
    </update>

    <!--绑定手机号码，修改应用表信息-->
    <update id="updateByBindPhone" parameterType="com.lhiot.uc.basic.entity.ApplyUser">
		UPDATE apply_user
		SET base_user_id = #{baseUserId},phone = #{phone}
		WHERE id = #{id}
	</update>

    <update id="updateUnionIdByUserId" parameterType="com.lhiot.uc.basic.entity.ApplyUser">
        UPDATE apply_user
        SET union_id = #{unionId}
        WHERE id = #{id}
    </update>

    <!--手机号注册绑定微信-->
    <update id="updateWeChatInfoById" parameterType="com.lhiot.uc.basic.entity.ApplyUser">
		UPDATE apply_user
		SET open_id = #{openId},union_id = #{unionId}
		WHERE id = #{id}
	</update>

    <!--解除微信绑定-->
    <update id="updateWeChatBinding" parameterType="Long">
		UPDATE apply_user
		SET open_id = '',union_id = ''
		WHERE id = #{0}
	</update>

    <update id="updatePasswordById" parameterType="com.lhiot.uc.basic.entity.ApplyUser">
        UPDATE apply_user
        <trim prefix="set" suffixOverrides=",">
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="paymentPassword != null and paymentPassword != ''">payment_password = #{paymentPassword}</if>
        </trim>
        WHERE id = #{id}
    </update>

    <update id="updatePaymentPermissionsById" parameterType="com.lhiot.uc.basic.entity.ApplyUser">
        UPDATE apply_user
        SET payment_permissions = #{paymentPermissions}
        WHERE id = #{id}
    </update>
    
    <update id="updateLockStatus" parameterType="Long">
        update apply_user set locked = 'UNLOCKED'
        where id = #{userId}
    </update>
</mapper>