<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.uc.basic.mapper.BalanceLogMapper">
    <insert id="insert" parameterType="com.lhiot.uc.basic.entity.BalanceLog">
		INSERT INTO balance_log (base_user_id,money,operation,source_type,apply,source_id,create_at)
		VALUE (#{baseUserId},#{money},#{operation},#{sourceType},#{apply},#{sourceId},#{createAt})
	</insert>
</mapper>