<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.uc.basic.mapper.BaseUserMapper">
    <insert id="insert" parameterType="com.lhiot.uc.basic.entity.BaseUser" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
		INSERT INTO base_user (id,phone) VALUE (#{id},#{phone})
	</insert>

    <select id="findCurrencyById" resultType="Long" parameterType="Long">
		SELECT balance FROM base_user WHERE id = #{0}
	</select>

	<select id="findById" resultType="com.lhiot.uc.basic.model.BaseUserResult" parameterType="Long">
		SELECT id,phone,balance,locked,member_points,real_name,id_card FROM base_user WHERE id = #{0}
	</select>

    <update id="updateCurrencyByIdForSub" parameterType="map">
		UPDATE base_user
		SET balance = balance - #{money}
		WHERE balance = #{balance} AND id = #{id}
	</update>

    <update id="updateCurrencyByIdForAdd" parameterType="map">
		UPDATE base_user
		SET balance = balance + #{moeny}
		WHERE id = #{id}
	</update>
</mapper>