<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.uc.basic.mapper.DeviceUniqueMapper">

	<!-- 查找当前设备注册过账号 -->
	<select id="findByUkey" parameterType="String" resultType="com.lhiot.uc.basic.model.DeviceUniqueResult">
		select id,ukey,status,user_id as userId,create_at as createAt
		from t_device_unique t
		where ukey = #{0}
	</select>

</mapper>