<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.uc.warehouse.mapper.WarehouseProductMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
               type="com.lhiot.uc.warehouse.entity.WarehouseProduct">
        <id column="id" property="id"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="product_id" property="productId"/>
        <result column="product_count" property="productCount"/>
        <result column="price" property="price"/>
        <result column="if_split" property="ifSplit"/>
        <result column="barcode" property="barcode"/>
        <result column="product_name" property="productName"/>
        <result column="image" property="image"/>
        <result column="small_image" property="smallImage"/>
        <result column="large_image" property="largeImage"/>
        <result column="buy_at" property="buyAt"/>
        <result column="base_unit" property="baseUnit"/>
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List">
        <trim suffixOverrides=",">
            id,
            warehouse_id,
            product_id,
            product_count,
            price,
            if_split,
            barcode,
            product_name,
            image,
            small_image,
            large_image,
            buy_at,
            base_unit,
        </trim>
    </sql>

    <!--新增仓库商品-->
    <insert id="batchSave" parameterType="java.util.List">
        insert into warehouse_product
        (
        warehouse_id,
        product_id,
        product_count,
        price,
        if_split,
        barcode,
        product_name,
        image,
        small_image,
        large_image,
        buy_at,
        base_unit
        )
        value
        <foreach collection="list" item="item" separator=",">
            (
            #{item.warehouseId},
            #{item.productId},
            #{item.productCount},
            #{item.price},
            #{item.ifSplit},
            #{item.barcode},
            #{item.productName},
            #{item.image},
            #{item.smallImage},
            #{item.largeImage},
            #{item.buyAt},
            #{item.baseUnit}
            )
        </foreach>
    </insert>

    <select id="findProductByIdInWarehouse" parameterType="map"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM warehouse_product
        WHERE warehouse_id = #{warehouseId} and product_id = #{productId}
    </select>

    <select id="sumProductByWarehouseId" parameterType="Long"
            resultType="com.lhiot.uc.warehouse.model.CountWarehouseProductResult">
        SELECT
            product_id,barcode,if_split,product_name,small_image,
            SUM(product_count) AS totalCount,
            SUM(price) AS totalPrice
        FROM warehouse_product
        WHERE warehouse_id = #{0}
        GROUP BY product_id,barcode,if_split,product_name,small_image;
    </select>

    <!--根据ID添加数量以及修改价格-->
    <update id="updateCountAndPrice" parameterType="com.lhiot.uc.warehouse.entity.WarehouseProduct">
        UPDATE warehouse_product
        SET product_count = #{productCount},
        price = #{price}
        WHERE id = #{id}

    </update>
    <!--根据id修改仓库商品-->
    <update id="updateById" parameterType="com.lhiot.uc.warehouse.entity.WarehouseProduct">
        update warehouse_product
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="warehouseId != null ">
                warehouse_id = #{warehouseId},
            </if>
            <if test="productId != null ">
                product_id = #{productId},
            </if>
            <if test="productCount != null ">
                product_count = #{productCount},
            </if>
            <if test="price != null ">
                price = #{price},
            </if>
            <if test="ifSplit != null">
                if_split = #{ifSplit},
            </if>
            <if test="barcode != null ">
                barcode = #{barcode},
            </if>
            <if test="productName != null ">
                product_name = #{productName},
            </if>
            <if test="image != null ">
                image = #{image},
            </if>
            <if test="smallImage != null ">
                small_image = #{smallImage},
            </if>
            <if test="largeImage != null ">
                large_image = #{largeImage},
            </if>
            <if test="buyAt != null ">
                buy_at = #{buyAt},
            </if>
        </set>
        where id=#{id}
    </update>


    <update id="updateProductCount" parameterType="com.lhiot.uc.warehouse.entity.WarehouseProduct">
        update warehouse_product
        set
        product_count = product_count - #{productCount}
        where id = #{id}
    </update>

    <!--根据ids删除仓库商品-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from warehouse_product where id in
        <foreach collection="list" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找仓库商品 -->
    <select id="selectById" resultMap="BaseResultMap"
            parameterType="long">select
        <include refid="Base_Column_List"/>
        from warehouse_product where id = #{id}
    </select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition">
        <where>
            <if test="warehouseId != null ">
                and warehouse_id = #{warehouseId}
            </if>
            <if test="productId != null ">
                and product_id = #{productId}
            </if>
            <if test="barcode != null ">
                and barcode = #{barcode}
            </if>
            <if test="productName != null ">
                and product_name = #{productName}
            </if>
        </where>
    </sql>


    <!--查询仓库商品列表-->
    <select id="pageWarehouseProducts" resultMap="BaseResultMap"
            parameterType="com.lhiot.uc.warehouse.entity.WarehouseProduct">
        select
        <include refid="Base_Column_List"/>
        from warehouse_product
        <include refid="Base_Where_Condition"/>
        order by buy_at asc
        LIMIT #{startRow}, #{rows}
    </select>

    <!--查询仓库商品总记录-->
    <select id="pageWarehouseProductCounts" resultType="int"
            parameterType="com.lhiot.uc.warehouse.entity.WarehouseProduct">
        select count(1)
        from warehouse_product
        <include refid="Base_Where_Condition"/>
    </select>


    <!--根据仓库ID查询当天的水果列表-->
    <select id="findWarehouseProductByWareHouseIdAndToday" parameterType="long"
            resultType="com.lhiot.uc.warehouse.entity.WarehouseProduct">
        SELECT
        <include refid="Base_Column_List"/>
        FROM warehouse_product
        WHERE DATE_FORMAT(buy_at,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d') AND warehouse_id = #{0};
    </select>
    
    <select id="findOverdueProduct" parameterType="map" resultType="com.lhiot.uc.warehouse.entity.WarehouseProduct">
        select id,warehouse_id,product_id,product_count,price,product_name,buy_at
        from warehouse_product
        where now() &gt; DATE_ADD(buy_at,interval #{freshDay} day)
        AND warehouse_id = #{warehouseId} and product_count > 0
    </select>

</mapper>