<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.uc.warehouse.mapper.WarehouseGoodsExtractMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
               type="com.lhiot.uc.warehouse.domain.entity.WarehouseGoodsExtract">
        <id column="id" property="id"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_count" property="goodsCount"/>
        <result column="price" property="price"/>
        <result column="if_split" property="ifSplit"/>
        <result column="barcode" property="barcode"/>
        <result column="product_name" property="productName"/>
        <result column="image" property="image"/>
        <result column="small_image" property="smallImage"/>
        <result column="large_image" property="largeImage"/>
        <result column="buy_at" property="buyAt"/>
        <result column="create_at" property="createAt"/>
        <result column="order_code" property="orderCode"/>
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List">
        <trim suffixOverrides=",">
            id,
            warehouse_id,
            goods_id,
            goods_count,
            price,
            if_split,
            barcode,
            product_name,
            image,
            small_image,
            large_image,
            buy_at,
            create_at,
            order_code,
        </trim>
    </sql>

    <!--新增仓库商品提取-->

    <!-- 批量插入仓库提取表中记录-->
    <insert id="batchSaveExtract" parameterType="list">
        insert into warehouse_goods_extract
        (
        warehouse_id,
        goods_id,
        goods_count,
        if_split,
        price,
        barcode,
        product_name,
        image,
        small_image,
        large_image,
        buy_at,
        create_at,
        order_code
        )
        value
        <foreach collection="list" item="item" separator=",">
            (
            #{item.warehouseId},
            #{item.goodsId},
            #{item.goodsCount},
            #{item.ifSplit},
            #{item.price},
            #{item.barcode},
            #{item.productName},
            #{item.image},
            #{item.smallImage},
            #{item.largeImage},
            #{item.buyAt},
            #{item.createAt},
            #{item.orderCode}
            )
        </foreach>
    </insert>

    <!--根据id修改仓库商品提取-->
    <update id="updateById" parameterType="com.lhiot.uc.warehouse.domain.entity.WarehouseGoodsExtract">
        update warehouse_goods_extract
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="warehouseId != null ">
                warehouse_id = #{warehouseId},
            </if>
            <if test="goodsId != null ">
                goods_id = #{goodsId},
            </if>
            <if test="goodsCount != null ">
                goods_count = #{goodsCount},
            </if>
            <if test="ifSplit != null ">
                if_split = #{ifSplit},
            </if>
            <if test="price != null ">
                price = #{price},
            </if>
            <if test="barcode != null ">
                barcode = #{barcode},
            </if>
            <if test="productName != null ">
                product_name = #{productName},
            </if>
            <if test="image != null ">
                image = #{image},
            </if>
            <if test="smallImage != null ">
                small_image = #{smallImage},
            </if>
            <if test="largeImage != null ">
                large_image = #{largeImage},
            </if>
            <if test="buyAt != null ">
                buy_at = #{buyAt},
            </if>
            <if test="createAt != null ">
                create_at = #{createAt},
            </if>
            <if test="orderCode != null ">
                order_code = #{orderCode},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除仓库商品提取-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from warehouse_goods_extract where id in
        <foreach collection="list" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找仓库商品提取 -->
    <select id="selectById" resultMap="BaseResultMap"
            parameterType="long">select
        <include refid="Base_Column_List"/>
        from warehouse_goods_extract where id = #{id}
    </select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition">
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="warehouseId != null ">
                and warehouse_id = #{warehouseId}
            </if>
            <if test="goodsId != null ">
                and goods_id = #{goodsId}
            </if>
            <if test="goodsCount != null ">
                and goods_count = #{goodsCount}
            </if>
            <if test="ifSplit != null ">
                and if_split = #{ifSplit}
            </if>
            <if test="price != null ">
                and price = #{price}
            </if>
            <if test="barcode != null ">
                and barcode = #{barcode}
            </if>
            <if test="productName != null ">
                and product_name = #{productName}
            </if>
            <if test="image != null ">
                and image = #{image}
            </if>
            <if test="smallImage != null ">
                and small_image = #{smallImage}
            </if>
            <if test="largeImage != null ">
                and large_image = #{largeImage}
            </if>
            <if test="buyAt != null ">
                and buy_at = #{buyAt}
            </if>
            <if test="createAt != null ">
                and create_at = #{createAt}
            </if>
            <if test="orderCode != null ">
                and order_code = #{orderCode}
            </if>
        </where>
    </sql>


    <!--查询仓库商品提取列表-->
    <select id="pageWarehouseGoodsExtracts" resultMap="BaseResultMap"
            parameterType="com.lhiot.uc.warehouse.domain.entity.WarehouseGoodsExtract">
        select
        <include refid="Base_Column_List"/>
        from warehouse_goods_extract
        <include refid="Base_Where_Condition"/>
        <include refid="common.pager"/>
    </select>

    <!--查询仓库商品提取总记录-->
    <select id="pageWarehouseGoodsExtractCounts" resultType="long"
            parameterType="com.lhiot.uc.warehouse.domain.entity.WarehouseGoodsExtract">
        select count(1)
        from warehouse_goods_extract
        <include refid="Base_Where_Condition"/>
    </select>

</mapper>